* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1{
    padding-bottom:1em;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight:700;
    animation: slide 1s linear forwards 0.5s;
    opacity: 0;
}


.main-container{
    height:100vh;
    display: grid;
    place-content: center;
    background-image: linear-gradient(to bottom,hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.grid-container{
    box-shadow: 0px 0px 50px black;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns:25em 26em ;
    place-content: center;
    overflow: hidden;
    column-gap: 3em;
    border-radius: 20px;

}

.box1{
    grid-column: 1/2;
    background-image: url('images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-position:bottom -10em right 1.5em;
    padding:3em 0;
}

.box1-mobile{
    display:none;
}


.box1::before{
    content: url('images/illustration-box-desktop.svg');
    display:block;
    height:2em;
    position:absolute;
    transform: translate(-6em,8.5em);
    z-index: 5;
    animation: boxslide 1s linear forwards;
}


.box1 img{
    position:relative;
    left:-5em;
    animation: slide 1s linear forwards;
}

.box2{
    grid-column: 2/3;
    padding: 3em 0;
}

.question{
    display: flex;
    justify-content: space-between;
    padding:1em 0;
    color:hsl(240, 7%, 46%);
    font-family: 'Kumbh Sans', sans-serif;
    animation: slide 1s linear forwards 1s;
    opacity: 0;
}

.question a{
    margin-right:5em;
}

.answer{
    display:none;
    padding-right:4em;
    padding-bottom:1em;
    font-size:15px;
    color:hsl(240, 7%, 40%);
    font-family: 'Kumbh Sans', sans-serif;
    line-height:1.5em;
}

hr{
    width:23em;
    border:1px solid hsl(240, 5%, 91%);
    animation: expand-desktop 1s linear forwards;
}

/* imp:animations */
.show{
    display:block;
}

.rotate{
    transform: rotate(180deg);
}

.bold{
    font-weight:700;
    color:hsl(240, 12%, 20%);
}

/* different screens */
@media screen and (max-width:976px){
    .grid-container{
        overflow:visible;
        grid-template-rows:8em 26em ;
        grid-template-columns: 0;
        column-gap: 0;

    }

    .box1-mobile{
        display:block;
    }
    .box1-mobile::before{
        content: url('images/illustration-woman-online-mobile.svg');
        position: absolute;
        transform: translate(2em,-7em);
    }

    .box2{
        padding:0 1em;
    }

    .box1::before{
        display:none;
    }

    .box1 img{
        display:none;
    }

    .question a{
        margin-right:2em;
    }

    .answer{
        padding-right:0;
        max-width:18.5em;
    }
    h1{
        text-align:center;
    }

    hr{
        width:19em;
        animation: expand-mobile 1s linear forwards;
    }

    
}


@keyframes slide{
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }
    50% {
        opacity: 0.5;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes boxslide{
    0% {
        opacity: 0;
        transform: translate(2em, 8.5em);
    }
    50% {
        opacity: 0.5;
        transform: translate(-4em, 8.5em);
    }
    100% {
        opacity: 1;
        transform: translate(-6em, 8.5em);
    }
}

@keyframes expand-desktop{
    0%{
        width:0em;
    }
    25%{
        width:10em;
    }
    50%{
        width:15em;
    }
    75%{
        width:20em;
    }
    100%{
        width:23em;
    }
}

@keyframes expand-mobile{
    0%{
        width:0em;
    }
    25%{
        width:5em;
    }
    50%{
        width:10em;
    }
    75%{
        width:15em;
    }
    100%{
        width:19em;
    }
}
  